body {
  width: 1920px;
  background-color: #000;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 220px;
}

.header {
  display: flex;
  margin-top: 37px;
  justify-content: space-between;
}

/* img {
   width: 357px;
   height: 79px;
 } */

.button-back {
  display: flex;
  padding: 10px 11px;
  color: #e4b564;
  border: 1px solid #e4b564;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  align-self: center;
  margin: 10px;
}

.section-title {
  color: white;
  font-size: 50px;
  font-weight: 700;
  line-height: 28px;
  padding: 0;
}

.st-1 {
  margin-bottom: 43px;
  margin-top: 89px;
}

.description-networks {
  width: 1182px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.container-networks {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 468px);
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-container-networks {
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.item-networks1 {
  background: #634f2c;
  grid-column: 1/3;
}

.item-networks2 {
  background: #b4a385;
  grid-column: 3/5;
}

.item-networks3 {
  background: #e4b564;
  grid-column: 5/7;
}

.item-networks4 {
  background: #635a4a;
  grid-column: 1/4;
}

.item-networks5 {
  background: #b08c4d;
  grid-column: 4/7;
}

.st-2 {
  margin-top: 161px;
  margin-bottom: 94px;
}

.equipment-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  list-style: none;
  gap: 20px;
  color: white;
  font-size: 30px;
  /* margin: 0;
  padding: 0; */
  margin-bottom: 192px;
}

.equipment-item {
  /* background: red; */
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 20px;

  font-weight: 700;
  text-align: center;
  line-height: normal;
  font-family: sans-serif;

  /* height: 100%; */
  /* min-height: 300px; */
  /* justify-content: center; */
}
/* .equipment-item:nth-child(4) {
  background: green;
  width: 100%;
  height: 100%;
  min-height: 300px;
} */

.item1 {
  background: #0e0e0e;
  grid-row: 1/3;
  width: 467px;
  height: 313px;
}

.item2 {
  background: #242424;
  grid-row: 1/4;
  width: 467px;
  /* height: 439px; */
}

.item3 {
  background: #1f1f1f;
  grid-row: 1/2;
  width: 467px;
  /* height: 255px; */
}

.item4 {
  background: #1f1f1f;
  grid-row: 3/6;
  width: 467px;
  /* height: 560px; */
}

.item5 {
  background: #0e0e0e;
  grid-row: 2/5;
  width: 467px;
  /* height: 313px; */
  flex-shrink: 0;
}

.item6 {
  background: #e4b564;
  grid-row: 4/6;
  width: 467px;
  /* height: 405px; */
}

.item7 {
  background: #0a0909;
  grid-row: 5/6;
  width: 467px;
  /* height: 313px; */
}

.client {
  /* display: grid; */
  width: 100%;
  background: #0e0e0e;
}

.container-client {
  /* display: grid; */
  margin: 0px 220px;
  color: white;
}

.cllent-nav {
  display: flex;
  padding-top: 172px;
  padding-bottom: 72px;
  justify-content: space-between;
}

.button-client {
  color: #e4b564;
  font-family: Ballet;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  border: 1px solid #e4b644;
  padding: 10px 40px;
  text-decoration: none;


}

.client-list {
  display: grid;
  grid-template-columns: 487px 486px 487px;
  grid-template-rows: repeat(2, 391px);
  margin: 0;
  padding: 0;
}

.client-item {
  display: grid;
  text-decoration: none;
  justify-content: space-around;
  text-align: center;
  align-items: start;
  padding: 0;
  margin: 0px;
  justify-items: center;
  align-content: center;
  
}

.sex{
  align-items: center;
  justify-content: center;
}



.citem-1 {
  background: #634f2c ;
}

.citem-2 {
  background: #e8d2ab;
}

.citem-3 {
  background: #e4b564;
}

.citem-4 {
  background: #635a4a;
}

.citem-5 {
  background: #b08c4d;
}

.citem-6 {
  background: #634f2c;
}


.eid-logo{
  width: 185px;
height: 49px;
}

.image-3{
  width: 62px;
height: 55px;

}


.set-group{
  width: 119px;
height: 53px;

}